* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-image: linear-gradient(
    to right,
    rgb(199, 193, 114),
    rgb(230, 100, 49)
  );
  text-align: center;
  padding: 30px;
}
header {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 50vw;
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
}
main {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 50vw;
  height: fit-content;
  background-color: white;
  padding: 30px;
  position: relative;
}
#container-1 {
  display: flex;
}
#container input {
  margin-top: 4px;
}
#input-field {
  width: 25vw;
  height: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px gray;
}
#btn {
  width: 45px;
  height: 30px;
  border-radius: 5px;
  margin-left: 3px;
  line-height: 30px;
}
#btn:hover {
  background-color: rgb(68, 62, 156);
  color: white;
}
#edit {
  background-color: blue;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: 0px solid grey;
}
#delete {
  background-color: red;
  color: white;
  padding: 5px;
  border: 0px solid grey;
  border-radius: 5px;
}
.popup {
  display: flex;
  background-color: white;
  width: 50vw;
  height: 50px;
  margin-top: 20px;
  justify-content: center;
  padding: 10px;
  position: absolute;
  top: 70px;
  display: none;
}
#popup-input {
  width: 25vw;
  height: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px gray;
}
#save {
  width: 45px;
  height: 30px;
  border-radius: 5px;
  margin-left: 3px;
  line-height: 30px;
}
#save:hover {
  background-color: rgb(68, 62, 156);
  color: white;
}
.content ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 20px;
  border-bottom: 1px solid grey;
  margin: 2px;
}

ul li span {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}
@media all and (max-width: 600px) {
  .content ul li {
    flex-flow: column;
  }
  main {
    width: 80vw;
  }
  #input-field {
    width: 50vw;
  }
  #popup-input {
    width: 50vw;
  }
  header {
    width: 80vw;
  }
  .popup {
    width: 80vw;
  }
  label {
    flex-flow: column;
  }
  #list-item button{
    margin-top: 9px;
  }
}
.content ul {
  display: flex;
  flex-flow: column;
}
#edit {
  padding: 6px 20px 6px 20px;
  width: fit-content;
  margin: auto;
}
#delete {
  padding: 6px 20px 6px 20px;
  width: fit-content;
  margin: auto;
}

.flag {
  color: rgb(139, 66, 66);
  margin: 5px;
  padding: 6px 20px 6px 20px;
  width: fit-content;
  background-color: rgb(235, 132, 132);
  border-radius: 10px;
  margin: auto;
}
.flag:hover {
  color: red;
  padding: 10px 20px 10px 20px;
}
.flag1 {
  color: white;
  margin: 5px;
  padding: 6px 20px 6px 20px;
  width: fit-content;
  background-color: rgb(60, 156, 84);
  border-radius: 10px;
  margin: auto;
}
label {
  display: flex;
  text-decoration: brown;
}
#checkbox {
  display: none;
}
#todo-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 200px;
  text-align: justify;
  word-break: break-all;
  box-sizing: border-box;
}
